:root {
  --primary-color: hsl(200, 96%, 10%);
  --secondary-color: #13678a;
  --button-color: #20bdece1;
  --hover-color: #105370e1;
  --background-primary-color: white;
  --background-secondary-color: #333;
}

.consultar-container {
  text-align: center;
}


.programacao-colaborador{
  display: inline-block;
  flex-direction: column;
  padding: 10px;
  border: solid var(--background-secondary-color);
  justify-content: space-between;
  margin: 10px;
}


.footer-consultar {
  background-color: #333;
  margin-top: 30px;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
