:root {
  --primary-color: hsl(200, 96%, 10%);
  --secondary-color: #13678a;
  --button-color: #20bdece1;
  --hover-color: #105370e1;
  --background-primary-color: white;
  --background-secondary-color: #333;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

label {
  margin: 10px 0 5px;
  color: #333;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: var(--button-color);
  color: black;
  border: solid var(--secondary-color) 1px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

@media screen and (max-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}
