:root {
  --primary-color: hsl(200, 96%, 10%);
  --secondary-color: #13678a;
  --button-color: #20bdece1;
  --hover-color: #105370e1;
  --background-primary-color: white;
  --background-secondary-color: #333;
}

.login-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

.footer-login {
  background-color: #333;
  margin-top: 30px;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
