:root {
  --primary-color: hsl(200, 96%, 10%);
  --secondary-color: #13678a;
  --button-color: #20bdece1;
  --hover-color: #105370e1;
  --background-primary-color: white;
  --background-secondary-color: #333;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.saiba-mais {
  width: 30%;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

.benefits > ul {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.benefits > li {
  color: var(--secondary-color);
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0;
    text-transform: uppercase;
  }

  .benefits {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    padding: 10px;
    font-weight: 500;
    border-top: double var(--secondary-color);
  }

  .saiba-mais {
    width: 100%;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: center;
  }
}
