:root {
  --primary-color: #012030;
  --secondary-color: #13678a;
  --hover-color: #45c4b0;
  --background-primary-color: #dafdba;
  --background-secondary-color: #9aeba3;
}

.login-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
